<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.connString" connectionString="Data Source=SQL5063.site4now.net;Initial Catalog=DB_A6AE64_Transtecno;User Id=DB_A6AE64_Transtecno_admin;Password=transtecno20" />
    </connectionStrings>
</configuration>