body {
    background-image:url(../Images/Login.png); 
    background-repeat: repeat-x; 
    background-attachment: fixed;
}

.navbar {
    margin-bottom: 60px;
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.navbar .navbar-header {
    padding-left: 150px;
}

.navbar .navbar-right {
    padding-right: 150px;
}

    .navbar .container-fluid .navbar-header .navbar-brand {
        text-decoration: none;
        color: #feffa6;
    }

    .navbar .container-fluid .navbar-right .navbar-brand {
        text-decoration: none;
        color: #feffa6;
    }

.container .test {
    background-color: black;
    margin-top: 50px;
    padding: 10px;
    border-radius: 25px;
}

.container .form-group {
    color: white;
    word-spacing: 0.25em;
}

.container .test .container-fluid .btn {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}

.container .test .form-group .container-fluid .form-control {
    border-radius: 25px;
}

