body {
}

.navbar {
    margin-bottom: 60px;
    padding-top: 20px;
    /*padding-bottom: 20px;*/
    background-color: black !important;
}

.container-fluid > a {
    display: inline-block;
}

.navbar-header > a {
    display: block;
}

    .navbar .navbar-header {
        padding-left: 150px;
    }

    .navbar .navbar-right {
        padding-right: 150px;
    }

    .navbar .container-fluid .navbar-header .navbar-brand {
        text-decoration: none;
        color: #feffa6;
    }

        .navbar .container-fluid .navbar-header .navbar-brand:hover {
            background-color: rgba(255, 192, 3, 0.56);
            border-radius: 20px;
        }

    .navbar .container-fluid .navbar-right .navbar-brand {
        text-decoration: none;
        color: #feffa6;

    }

    .navbar .container-fluid .navbar-right .nav .dropdown .btn{
        text-decoration: none;
        color: #feffa6;
        background-color: black;
        border-color: black;
    }

        .navbar .container-fluid .navbar-right .nav .dropdown .btn:hover {
            background-color: rgba(255, 192, 3, 0.56);
            border-radius: 25px;
        }


.dropdown:hover > .dropdown-menu {
    display: block;
    background-color: black;
    padding-bottom: 0px;
    padding-top: 20px;
    border-radius: 25px;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-menu .dropdown-item {
    margin-right: 11px;
    padding-left: 15px;
    width: 100%;
    text-decoration: none;
    color: #feffa6;
}

    .dropdown-menu .dropdown-item:hover {
    }

    .containerPrueba {
        margin-bottom: 20px;
    }

ul.nav {
    display: table;
    width: 100%;
    margin-right: 20px;
    margin-top: 10px;
}

    ul.nav > li {
        display: table-cell;
        float: none;
    }
