body {
}

.formImage {
    background-image: url(../Images/Bill.png);
    margin-top: -20px;
    padding-bottom: 200px;
    padding-top: 100px;
}

.viewForm {
    border-radius: 25px;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    margin-right: 100px;
    margin-top: 0px;
    text-align: center;
    align-content: center;
}

.tittle {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #f9f9f9;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}

.table {
    border: 0px !important;
    text-align: center;
}

    .table th, .table td {
        border: 1px !important;
    }

.fixed-table-container {
    border: 0px !important;
}